@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.font-host {
  font-family: 'Host Grotesk', sans-serif;
}

.font-exo {
  font-family: 'Russo One', sans-serif;
}

.font-plex {
  font-family: 'IBM Plex Mono', monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #040404;
    color: white;
    font-family: 'Roboto Mono', monospace;
  }
  p {
    @apply text-lg lg:text-xl leading-8 lg:leading-10;
  }
}

.landing-grid {
  background-size: 100px 100px;
  background-image: linear-gradient(to right, #6c63ff 1px, transparent 1px),
    linear-gradient(to bottom, #6c63ff 1px, transparent 1px);
}

.reverse div div {
  grid-auto-flow: dense;
  direction: rtl;
}

@layer utilities {
  .outlined-text {
    --outline-size: 4px;
    text-shadow: calc(-1 * var(--outline-size)) calc(-1 * var(--outline-size)) 0
        #000,
      var(--outline-size) calc(-1 * var(--outline-size)) 0 #000,
      calc(-1 * var(--outline-size)) var(--outline-size) 0 #000,
      var(--outline-size) var(--outline-size) 0 #000; /* Outline color */
  }
}
