@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-kodchasan {
  font-family: 'Kodchasan', sans-serif;
}

@layer base {
  body {
    background-color: #202d47;
    color: white;
  }
  p {
    @apply text-xl leading-10;
  }
}
